client {
	com.ibm.security.auth.module.Krb5LoginModule required
	useDefaultCcache=true
	#useCcache=zollie.keytab
	forwardable=true
	refreshKrb5Config=true
	credsType=initiator;
};

server {
	com.ibm.security.auth.module.Krb5LoginModule required
	principal=HTTP/server.github.com
	useKeytab=http-server.keytab
	renewable=true
	forwardable=true
	refreshKrb5Config=true
	credsType=both;
};